@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Receipt Master</h1>
        <h3>Choose action to go.</h3> <hr /> <hr />
        <div class="nav-item">
            <h4>
                <a class="nav-link text-dark" asp-area="" asp-controller="Receipts" asp-action="Index">Receipts</a>
            </h4>
        </div> <hr /> <hr />
        <div class="nav-item">
            <h4>
                <a class="nav-link text-dark" asp-area="" asp-controller="Items" asp-action="Index">Items</a>
            </h4>
        </div>
        <hr /> <hr />
        <div class="nav-item">
            <h4>
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Summaries">Summaries</a>
            </h4>
        </div>
        <hr />
    </div>
